# Improving Conversion on an E-commerce Product

## Formulate the Hypothesis

In [2]:
# Hypothesis definition 
hypothesis_control = "Conversion Rate (A) = Conversion Rate (B)"
hypothesis_treatment = "Conversion Rate (B) > Conversion Rate (A)"

print("Null Hypothesis (H0):", hypothesis_control)
print("Alternative Hypothesis (H1):", hypothesis_treatment)

Null Hypothesis (H0): Conversion Rate (A) = Conversion Rate (B)
Alternative Hypothesis (H1): Conversion Rate (B) > Conversion Rate (A)

In [3]:
# Importing Necessary Libraries 
import pandas as pd

In [4]:
# Reading the Dataset
df = pd.read_csv('../Data/synthetic_ab_test_data.csv')

# Now you can explore your DataFrame
df.head()

,user_id,experiment_group,region,device_type,time_spent_seconds,added_to_cart,purchase
0,1,A,North America,Mobile,24.31,1,1
1,2,B,North America,Mobile,52.10,0,0
2,3,B,Other,Mobile,49.36,0,0
3,4,B,North America,Desktop,59.37,0,0
4,5,A,North America,Desktop,28.14,0,0

In [10]:
print([df['time_spent_seconds'] < 3600])

[0       True
1       True
2       True
3       True
4       True
        ...
1995    True
1996    True
1997    True
1998    True
1999    True
Name: time_spent_seconds, Length: 2000, dtype: bool]